<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Testlink转换</title>
	<link rel="stylesheet" type="text/css" href="../static/css/easyui.css">
    <link rel="stylesheet" type="text/css" href="../static/css/icon.css">
	<link href="../static/favicon.ico" type="image/x-icon" rel="shortcut icon">
	<!-- bower:css -->
	<link rel="stylesheet" href="../static/bower_components/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="../static/bower_components/codemirror/lib/codemirror.css" />
	<link rel="stylesheet" href="../static/bower_components/hotbox/hotbox.css" />
	<link rel="stylesheet" href="../static/node_modules/kityminder-core/dist/kityminder.core.css" />
	<link rel="stylesheet" href="../static/bower_components/color-picker/dist/color-picker.min.css" />
	<!-- endbower -->
	<link rel="stylesheet" href="../static/kityminder.editor.min.css">

	<style>
		html, body {
			margin: 0;
			padding: 0;
			height: 100%;
			overflow: hidden;
		}
		h1.editor-title {
			background: #393F4F;
			color: white;
			margin: 0;
			height: 40px;
			font-size: 14px;
			line-height: 40px;
			font-family: 'Hiragino Sans GB', 'Arial', 'Microsoft Yahei';
			font-weight: normal;
			padding: 0 20px;
		}
		div.minder-editor-container {
			top: 40px;
			bottom: 0;
			left: 0;
			right: 0;
		}
    </style>
    <!-- bower:js -->
    <script src="../static/bower_components/jquery/dist/jquery.js"></script>
    <script src="../static/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../static/bower_components/angular/angular.js"></script>
    <script src="../static/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="../static/bower_components/codemirror/lib/codemirror.js"></script>
    <script src="../static/bower_components/codemirror/mode/xml/xml.js"></script>
    <script src="../static/bower_components/codemirror/mode/javascript/javascript.js"></script>
    <script src="../static/bower_components/codemirror/mode/css/css.js"></script>
    <script src="../static/bower_components/codemirror/mode/htmlmixed/htmlmixed.js"></script>
    <script src="../static/bower_components/codemirror/mode/markdown/markdown.js"></script>
    <script src="../static/bower_components/codemirror/addon/mode/overlay.js"></script>
    <script src="../static/bower_components/codemirror/mode/gfm/gfm.js"></script>
    <script src="../static/bower_components/angular-ui-codemirror/ui-codemirror.js"></script>
    <script src="../static/bower_components/marked/lib/marked.js"></script>
    <script src="../static/bower_components/kity/dist/kity.min.js"></script>
    <script src="../static/bower_components/hotbox/hotbox.js"></script>
    <script src="../static/bower_components/json-diff/json-diff.js"></script>
    <script src="../static/node_modules/kityminder-core/dist/kityminder.core.min.js"></script>
    <script src="../static/bower_components/color-picker/dist/color-picker.min.js"></script>
    <!-- endbower -->

    <script src="../static/kityminder.editor.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="../static/js/jquery.easyui.min.js"></script>
    <script type="text/javascript">
        function exportkm(node_id=undefined,depth=5,confirm=true){
            var node = $('#caselist').tree('getSelected');
            if(node_id==undefined){
                node_id=node.id
            }
            if(node_id){
                $.get(("get_km?id="+node_id+"&tl_token="+$.cookie("tl_token")+"&tl_url="+$.cookie("tl_url")+"&project_id="+$.cookie("project_id")+"&depth="+depth),function(data,status){
                    if(data.hasOwnProperty("error")){
                        aler(data["error"])
                    }
                    else{
                        if(confirm&&window.current&&JSON.stringify(window.current)!=JSON.stringify(editor.minder.exportJson())){
                            var r = window.confirm("当前脑图有修改未保存，确认导入？");
                            if(r==false){
                                return  
                            }
                        }
                        editor.minder.importJson(data)
                        window.current=editor.minder.exportJson()
                    };
                });
            }
            
        }
        function savekm(){
            var aTag = document.createElement('a');
            var jsonse = JSON.stringify(editor.minder.exportJson());
            var blob = new Blob([jsonse], {type: "application/json"});
            aTag.download = "testcases.km";
            aTag.href = URL.createObjectURL(blob);
            aTag.click();
            URL.revokeObjectURL(blob);
        }
        function trigger(){
            document.getElementById("btn_file").click();
        }
        function openkm(files){
            var reader = new FileReader();
            reader.readAsText(files[0]);
            reader.onload = function(){
                let json = JSON.parse(this.result);
                editor.minder.importJson(json)
         };
        }
        function settings(){
            $('#dlg').dialog('open')
            if($.cookie("tl_url"))
            {
                document.getElementById("tl_url").value=$.cookie("tl_url");
            }
            if($.cookie("tl_token"))
            {
                document.getElementById("tl_token").value=$.cookie("tl_token");
            }
            if($.cookie("project_id")&&$.cookie("project_name"))
            {
                $('#project').combobox('setValue',$.cookie("project_id"))
                $('#project').combobox('setText',$.cookie("project_name"))
            }
            else{
                $('#project').combobox('setText',"点击刷新获取列表")
            }
            if($.cookie("user_name"))
            {
                document.getElementById("user_name").value=$.cookie("user_name");
            }
        }
        function save_settings(){
            $.cookie("tl_url",document.getElementById("tl_url").value, { expires: 9999 });
            $.cookie("tl_token",document.getElementById("tl_token").value, { expires: 9999 });
            $.cookie("project_id",$('#project').combobox('getValue'), { expires: 9999 });
            $.cookie("project_name",$('#project').combobox('getText'), { expires: 9999 });
            $.cookie("user_name",document.getElementById("user_name").value, { expires: 9999 });
            $('#dlg').dialog('close');
            $('#caselist').tree('reload');
            
        }
        function get_projects(){
                $('#project').combobox('reload',("get_project_list?tl_token="+document.getElementById("tl_token").value+"&tl_url="+document.getElementById("tl_url").value));
        }
        function preview(){
            var km = editor.minder.exportJson()
            if(!km["root"]["data"].hasOwnProperty("internal_id"))
            {
                alert("脑图根结点非已存在的结点，请先导出已存在的结点")
                return              
            }
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "update",
                data: JSON.stringify({tl_token: $.cookie("tl_token"),tl_url: $.cookie("tl_url"),project_id: $.cookie("project_id"),user_name: $.cookie("user_name"),is_preview:1,data: km}),
                success: function (data) {
                    $('#preview_dlg').dialog('open');
                    $('#preview_table').empty()
                    $('#preview_table').append("<tr><th>类型</th><th>名称</th><th>结果</th></tr>")
                    var show = true
                    data.forEach(function(e){
                        $('#preview_table').append("<tr><td>"+e["type"]+"</td><td>"+e["name"]+"</td><td>"+e["result"]+"</td></tr>")
                        if(e.hasOwnProperty("fatal")){
                            show = false
                            console.log(show)
                        }
                    })
                    $("#start_import").show()
                    if(!show){
                        console.log("hide")
                        $("#start_import").hide()
                    }
                },
                dataType: "json"
            });
        }
        function update_testlink(){
            $('#preview_dlg').dialog('close');
            var km = editor.minder.exportJson()
            var node = $('#caselist').tree('getSelected');
            var root_id;
            if(km["root"]["data"].hasOwnProperty("internal_id"))
            {
                    root_id = km["root"]["data"]["internal_id"]              
            }
            else if(node&&node.id&&node.state){
                root_id = node.id
            }
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "update",
                root_id:root_id,
                data: JSON.stringify({tl_token: $.cookie("tl_token"),tl_url: $.cookie("tl_url"),project_id: $.cookie("project_id"),user_name: $.cookie("user_name"),data: km}),
                success: function (data) {
                    if(data.hasOwnProperty("error")){
                        alert(data["error"])
                    }
                    else{
                        alert("导入成功")
                        exportkm(this.root_id,1,false)
                    };
                },
                dataType: "json"
            });
        }
    </script>
</head>
<body>
		<div class="easyui-layout" data-options="fit:true"> 
            <div data-options="region:'west',collapsible:true" style="width:300px;padding:20px;" title="用例列表" >
                <table>
                    
                    <tr>
                    <td>
                        <button id="import" onclick="exportkm()">导出所有</button>
                    </td>
                    <td>&nbsp&nbsp&nbsp&nbsp</td>
                    <td>
                        <button id="preview" onclick="preview()">导入预览</button>
                    </td>
                </tr></table>
				<ul id="caselist" class="easyui-tree" data-options="
                url: 'tree_nodes',
                method: 'get',
                animate: true,
                onBeforeLoad:function(node,param){
                        param.tl_url = $.cookie('tl_url');
                        param.tl_token = $.cookie('tl_token');
                        param.project_id = $.cookie('project_id');
                        param.user_name = $.cookie('user_name');
                    },
                onLoadSuccess:function(node, data){
                        if(data.hasOwnProperty('error')){
                            alert('出错：'+data['error'])
                        }
                },
                onClick: function(node){
                    exportkm(node.id,1)
                },
                onBeforeCollapse: function(node){
                    // 移除当前数据库节点下的所有子节点
                    $(node.target).next('ul').remove();
                }
            ">
            </div>
			<div id="area" data-options="region:'center',tools:'#tt'" title="kityminder">
                <div ng-app="kityminderDemo" ng-controller="MainController">
                    <kityminder-editor on-init="initEditor(editor, minder)"></kityminder-editor>
                </div> 
			</div>
        </div>
        <div id="tt">
            <a href="#" class="icon-setting" onclick="settings()"></a>
            <a href="#" class="icon-edit" onclick="trigger()"></a>
            <a href="#" class="icon-save" onclick="savekm()"></a>
            <a href="#" class="icon-help" onclick="$('#help').dialog('open')"></a>
            <a href="#" class="icon-blank"></a>
        </div>
        <input type="file" id="btn_file" onchange="openkm(this.files)" style="display:none">
        <div id="dlg" class="easyui-dialog" title="设置" data-options="iconCls:'icon-close',closed:true" style="width:400px;height:200px;padding:10px">
                <table>
                    <tr>
                        <td>API链接：</td>
                        <td><input value="" class="easyui-validatebox" type="text" id="tl_url" style="width:300px;" data-options="required:true"></input></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>API密钥：</td>
                        <td><input value="" class="easyui-validatebox" type="text" id="tl_token" style="width:300px;" data-options="required:true"></input></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>用户名：</td>
                        <td><input value="" class="easyui-validatebox" type="text" id="user_name" style="width:300px;" data-options="required:true"></input></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>项目名称：</td>
                        <td><select class="easyui-combobox" style="width:300px;" data-options="valueField:'value',textField:'label'" id="project"></select></td>
                        <td><img src="/static/css/icons/reload.png" onclick="get_projects()"></td>
                    </tr>
                </table>
            <div style="text-align:center;padding:5px">
                <button id="save" onclick="save_settings()">保存</button>
            </div>
            <div id="preview_dlg" class="easyui-dialog" title="导入预览" data-options="iconCls:'icon-close',closed:true" style="width:600px;height:200px;padding:10px">
                <table id="preview_table" style="width: 500px;" align="center">
                    
                </table>
            <div style="text-align:center;padding:5px">
                <button id="start_import" onclick="update_testlink()">开始导入</button>
            </div>
        </div>
        <div id="help" class="easyui-dialog" title="帮助信息" data-options="iconCls:'icon-close',closed:true" style="width:500px;height:200px">
        <p><b>设置：</b></p>
        <p>需要先设置testlink api的连接信息才能正常使用功能。点击右上角设置按钮：</p>
        <ul>
            <li><b>API链接</b>：http://<域名或IP>/lib/api/xmlrpc/v1/xmlrpc.php</li>
            <li><b>API密钥</b>：登录testlink页面，在我的设置中找到"个人 API 访问密钥"，如果没有则点击"生成新的密钥"。</li>
            <li><b>用户名</b>：登录testlink页面，在我的设置中找到"帐号"，把里面的值填入。</li>
            <li><b>项目名称</b>：点右侧刷新按钮更新项目列表，然后从中选择需要操作的项目。</li>
        </ul>
        <p><b>导出：</b></p>
        <ul>
            <li>选择一个目录，点击“导出所有”，可以把该目录及子目录下所有的用例按脑图方式导出。</li>
            <li>点击一个目录或者用例，只导出该结点信息。</li>
            <li>如果要刷新目录结点下的内容，可以收起再展开该目录。</li>
            <li>导出的脑图中，带"1"图标的结点为目录，带"9"图标的结点为测试用例，该图标只做标识，可随意增删</li>
        </ul>
        <p><b>编辑：</b></p>
        <ul>
            <li>已导出的结点中，自带了内部属性标识为系统已存在的结点，导入时会在testlink中更新相应的结点。复制结点粘贴后，内部属性会被清空，粘贴的结点被当作新创建的结点。<b>为防止打开旧文件带来的结点混乱，建议每次编辑前先导出，以前保存的脑图结点可以通过复制粘贴生成</b></li>
            <li>用例结点名称中的用例编号只作展示，导入时会自动忽略，所以每个节点的用例编号修改无效</li>
            <li>用例的模板可以参照已导出的结点，添加其它字段无效</li>
            <li>用例可以通过拖动到其它目录改变其位置；目录改变位置无效</li>
        </ul>
        <p><b>导入：</b></p>
        <ul>
            <li>点击"导入预览"，查看有变更的点，确认无误后再点击导入</li>
            <li>新创建的结点，以子结点中是否有"steps"来判断是否用例，如果不是用例，则当作目录处理</li>
            <li>暂不支持删除结点</li>
        </ul>
        </div>
</body>
<script>
    angular.module('kityminderDemo', ['kityminderEditor'])
                .controller('MainController', function($scope) {
                    $scope.initEditor = function(editor, minder) {
                        window.editor = editor;
                        window.minder = minder;
                    };
                });
</script>
</html>